@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$primary-colour: #e6eeff;
$secondary-colour: #dddddd;
$colour-3:#668cff;
$colour-4:#384B4B;

$font:'Inter', sans-serif; ;


$tablet-breaking-point: 768px;
$laptop-breaking-point: 1024px;

